.time-left {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  color: white;
}

.timer {
  margin: auto;
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px;
  }
}

#feedback {
  text-align: center;
  z-index: 99;
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  position: relative;

}
